body {
    background-color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


#showAll {
    display: none;
}

#by-id {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchPoke {
    display: none;
}



.svg-btn {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

svg {
    width: 50px;
    height: 50px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #fafafa;
}


#pokemonSprite {
    width: 25vh;
}

#id {
    padding: 0;
    margin: 0;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}


#pokemonName {
   font-family: 'Arial Rounded MT Bold', sans-serif;
}

#types {
    display: flex;
    justify-content: center;
}

#types p {
    padding: 0.3rem 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 7px;
    width: 5rem;
    height: 1rem;
    text-align: center;
    color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', sans-serif;
    
}

