body {
    background-color: white;
    background-image: url('https://wallpapercave.com/wp/k1ExYwj.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0;
}


#title {
    display: flex;
    justify-content: center;
}

#imgTitle {
    height: 30vh;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    width: 150px;
    height: 150px;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    
}

.sprite-container {
    width: 120px;
    height: 120px;
    border-style: 'solid';
    border-radius: 50%;
    border-color: #272727;
    padding: 0;
    margin: 0;
}

ul li img {
    width: 120px;
    height: 120px;
    margin: 0;
    padding: 0;
}


.removeButton {
    display: inline-block;
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.removeButton svg{
    width: 24px;
    height: 24px;
    
}

#showAll {
    display: none;
}

#by-id {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#searchPoke {
    display: none;
}



.svg-btn {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 2rem;
    padding: 0;
}

svg {
    width: 50px;
    height: 50px;
}

.pokemon-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    border-color: dimgray;
    background-color: transparent;
}


#pokemonSprite {
    
    border-radius: 24px;
    width: 25vh;
    margin: 0.7rem;
}

#id {
    padding: 0;
    margin: 0;
    font-family: 'Arial Rounded MT Bold', sans-serif;
}


#pokemonName {
   font-family: 'Arial Rounded MT Bold', sans-serif;
}

#types {
    display: flex;
    justify-content: center;
}

#types p {
    padding: 0.3rem 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 7px;
    width: 5rem;
    height: 1rem;
    text-align: center;
    color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', sans-serif;
    
}

